/*FUENTES*/
$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster', cursive;

/*COLORES*/
$main-grey: #262524;
$darker-grey: #0D0D0C;
$maize: #F4B400;
$purple: #566CCB;
$green: #00934D;
$aqua: #72CCBD;
$pink: #FE4A64;

$max-width-wrapper: 768px;
