/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 btns
5.0 GENERAL
6.0 COLORES


--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 btns
--------------------------------------------------------------*/

@import 'sass/btns';

@import 'artistas';

/*--------------------------------------------------------------
5.0 General
--------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    /* max-width = min-width de mediaqueries para XL screens  */
    max-width: 1480px;
    background: $main-grey;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
    margin: 0;
    letter-spacing: 1px;
}

// .wrapper h1,
// .wrapper h2 {
//     font-family: "IntelClearPro";
// }

// .wrapper h3,
// .wrapper h4 {
//     font-family: "IntelClearBold";
// }

// .wrapper h5,
// .wrapper h6 {
//     font-family: "IntelClearThin";
// }

// .wrapper p {
//     font-family: "IntelClear";
// }

// .wrapper sup {
//     font-size: 57%;
// }



.wrapper {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        color: whitesmoke;

        img {
            margin: 5vw 0;
            width: 70vw;
        }
    }


    main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 22vw 0 0;

        #horas-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 11vw;
            justify-items: end;

            width: 19vw;

            .hour {

                span {
                    font-family: $open-sans;
                    font-weight: bold;
                    position: relative;
                    width: 100%;
                    overflow-x: hidden;

                    &.purple {
                        color: $purple;
                        font-size: 2.4vw;

                        position: relative;
                        top: -2.1vw;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 10vw;
                            width: 64vw;
                            height: 1px;
                            border-bottom: 3px dotted $maize;
                            // background-image: linear-gradient(to right, $maize 33%, rgba(255, 255, 255, 0) 0%);
                            // background-position: bottom;
                            // background-size: 3px 1px;
                            // background-repeat: repeat-x;
                        }

                    }

                    &.maize {
                        color: $maize;
                        font-size: 3.86vw;

                        position: relative;
                        top: -3vw;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 14vw;
                            width: 70vw;
                            border-bottom: 5px dashed $maize;
                            // background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
                            // background-position: bottom;
                            // background-size: 3px 1px;
                            // background-repeat: repeat-x;
                        }

                    }

                }
            }
        }

        #schedule {
            width: 75vw;
            .slick-dots{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                
                width: 90vw;
                height: 20vw;
                position: absolute;
                top:-22vw;
                left: -19vw;

                .tab{
                    background: red;
                }
            }

            .escenario {
                &.violeta {
                    .artista {
                        background: $purple;
                    }
                }
                &.verde {
                    .artista {
                        background: $green;
                    }
                }
                &.sofar {
                    .artista {
                        background: $pink;
                    }
                }
                &.teatro {
                    .artista {
                        background: $aqua;
                        p{

                            color: #262524;
                        }
                    }
                }
                &.sum {
                    .artista {
                        background: $maize;
                        p{

                            color: #262524;
                        }
                    }
                }

                >.escenario-grid {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(24, 11vw);


                    .artista {
                        color: white;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        width: 60vw;
                        padding: 0 4.8vw;

                        .nombre {
                            p{
                                font-family: 'Oswald';
                                font-size: 4vw;
                                text-transform: uppercase;
                                white-space: nowrap;
                                
                            }
                        }
                        
                        .horario {
                            font-family: 'Open Sans', sans-serif;
                            color: white;
                            font-size: 3.38vw;
                            white-space: nowrap;
                        }
                    }

                }

            }
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 85%;
            margin: 5vw 0;
        }
    }
}


@import 'artistas';